#header { 
  color: white;
  background-color: #E20200;
  margin: 5px;
  /* Margin/Padding Rules: */
  /* One value is all four sides */
  /* Two values is for top/bottom and then right/left */
  /* Four values moves clockwise starting from top */
  padding: 15px 20px 10px 20px;

  text-align: center;
}

body {
  background-color: lightgrey;
}