#header { 
  color: white;
  background-color: #E20200;
  margin: 5px;
  /* Margin/Padding Rules: */
  /* One value is all four sides */
  /* Two values is for top/bottom and then right/left */
  /* Four values moves clockwise starting from top */
  padding: 15px 20px 10px 20px;

  text-align: center;
}

.about-paragraph {
  color: white;
  background-color: #E20200;
  margin: 5px;
  padding: 10px;
  width: 66%;
}

#navbar {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0;
}

.nav-item {
  display: inline-block;
  margin: 0 9%;
}

.nav-item a {
  text-decoration: none;
  color: white;
  background-color: #E20200;
  padding: 5px;
  font-size: 2.25rem;
  transition-duration: 500ms;
}

.nav-item a:hover {
  color: #E20200;
  background-color: white;
  font-size: 1.4rem;
  transition-duration: 500ms;
}

#about-img {
  width: 30%;
  margin: 0 5px;
  float: right;
}